/*****************BASIC RESET*****************/
* {
	box-sizing: border-box;
}
html, body {
	padding: 0;
	margin: 0;
	background: #343434;
}

/*****************CUSTOM CLASSES*****************/
.header {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #343434;
}
.header h1 {
	margin-left: 1rem;
	color: #efefef;
}
.profile-icon {
	max-height: 128px;
	border: 3px solid #666;
	border-radius: 64px;
	margin: 0.5rem;
	-webkit-box-shadow: 3px 3px 0 rgba(0,0,0,0.75);
	-moz-box-shadow: 3px 3px 0 rgba(0,0,0,0.75);
	box-shadow: 3px 3px 5px rgba(0,0,0,0.75);
}
.callout, .callout-skills {
	padding: 1rem;
}
.callout {
	background: #EFEFEF;
	border-radius: 0 25px 25px 0;
}
.callout-skills {
	background: #343434;
	color: #EFEFEF;
	text-align: center;
}
.callout-skills ul {
	padding: 0;
	margin: 0;
}
.callout-skills ul li {
	list-style-type: none;
	margin: 0.5rem;
	font-size: 1.5rem;
}
.footer {
	text-align: center;
	color: #efefef;
	background: #343434;
}

/*****************RESPONSIVE STYLES*****************/
.container {
	width: 100%;
	margin: auto;
}
.row {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
}
.row::after {
	display: block;
	clear: both;
	content: "";
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
	padding: 0 15px;
}

/*****************MOBILE*****************/
@media screen and (max-width: 680px){
	.col-9, .col-3 {
		width: 100%;
		margin: 0;
	}
}